.fu{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0px;
    position:absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.header{
    display: block; 
    font-size: 100%;
    
    background-color: rgb(63, 63, 63); 
    margin: 0px;
    height: 60px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    min-width: 500px;
}
.main_title{
    float: right;
    padding: 0px;
    height: inherit;
    margin:0px 20px 0px 0px;
    position: relative;
    right:0px;
    display: block;
}
.main_img{
    background-color: rgb(63, 63, 63);
    float: left;
    padding: 0px;
    height: inherit;
    margin:0px 0px 0px 20px;
    position: relative;
    right:0px;
}
.home{
    background-image:url(02.png);
    color: rgb(63, 63, 63);
    background-repeat: no-repeat;
    background-position: left center;
    width: 60px;
    height: 60px;
    padding: 24px 0;
    text-indent: -99999px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 4px;
}
.main_sec{
    float: left;
    height: inherit;
    position: relative;
    display: block;
}
.main_buttom{
    color: rgb(184, 184, 184);
    display:inline;
    line-height: 20px;
    padding: 20px 0;
    position: relative;
    display: block;
    margin-left: 20px;
    text-decoration:none;
}
.content{
    margin-top: 60px;
}
.footer{
    height: 50px;
    background-color: rgb(63, 63, 63);

}
*{
    margin: 0px;   
    
}