.img{
    height: 200px;
    border-radius: 25%;
}
.fu{
    background-color: rgb(73, 73, 73);
    margin: 0px;
    width: 100%;
}
*{
    font-family:Helvetica,Arial,sans-serif; ;
}
.img_text{
    height: 2rem;
}
.contenter{
    display: flex;
    margin: 0px 12px;
    padding: 10px 0px;
}